.shop-wrap {
  border: 5px solid rgba(white, 0.5);
  width: 510px;
  height: 510px;
  background-color: #4c3535;
}

.item-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;
  }
}
