.map-tile {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;

  &.water {
    background-color: #0000ff;
  }

  &.beach {
    background-color: #ffff00;
  }

  &.grass {
    background-color: #0f6c0f;
  }

  &.wall {
    background-color: #4c4c47;
  }
}
