.monster {
  width: 15px;
  height: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.monster-name {
  position: absolute;
  bottom: -10px;
  left: -5.2px;
  font-size: 8px;
  font-weight: bold;
  color: black;
}
