.start-menu-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border: 5px solid rgba(white, 0.5);
  width: 510px;
  height: 510px;
}
