.player-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.player-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: auto;
}
